name: "release-project"

on: "push"

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1

      - name: "Set up JDK 17"
        uses: "actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654" # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: "Setup gradle"
        uses: "gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2" # v5.0.0
      - name: "Build with gradle"
        run: "./gradlew clean build"

      - name: "Release"
        uses: "softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b" # v2.5.0
        if: "startsWith(github.ref, 'refs/tags/')"
        with:
          files: "build/libs/housepoints-*-final.jar"
